@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TypeIndex</title>
     <link href="~/jquery-easyui-1.3.6/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/jquery-easyui-1.3.6/themes/icon.css" rel="stylesheet" />
    <script src="~/jquery-easyui-1.3.6/jquery.min.js"></script>
    <script src="~/jquery-easyui-1.3.6/jquery.easyui.min.js"></script>  
    <script src="~/jquery-easyui-1.3.6/locale/easyui-lang-zh_CN.js"></script>
    <style type="text/css">
         body {
            font-family: Microsoft YaHei,Verdana,Arial,SimSun;
            color: #666;
            font-size: 14px;
            background: #f6f6f6;
            overflow: hidden;
            margin-left: 20px;
        }
        #dlg1 {
            width: 30px;
            height: 50px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $("#List1").datagrid({
                url: '/Equipment/GetTypeTB',
                method: 'post',
                fitColumns: true,
                striped: true,
                //rownumbers: true,
                singleSelect: false,
                columns: [[
                    { field: 'ck', checkbox: true },
                    { field: 'ETypeID', title: "设备类型编号", align: 'center', width: 100 },
                    { field: 'EType', title: "设备类型名称", align: 'center', width: 100 }

                ]],
                toolbar: [
                    {
                        id: 'btnAdd',
                        text: '添加',
                        iconCls: 'icon-add',
                        handler: function () {
                            $("#btnOK").css('display', 'none');
                            $("#btnCel").css('display', 'none');
                            $('#dlg1').dialog('open').dialog({
                                title: 'My Dialog',
                                width: 400,
                                height: 200,
                                closed: false,
                                cache: false,
                                modal: true,
                                buttons: [{
                                    text: '保存',
                                    handler: function () {
                                        $.ajax({
                                            url: "/Equipment/AddType?type=" + $("#EType").val(),
                                            success: function (data) {
                                                if (data == "Y") {
                                                    alert("添加成功");
                                                    $("#dlg1").dialog('close');
                                                    $("#List1").datagrid('reload');
                                                }
                                            }
                                        });
                                    }
                                }, {
                                    text: '关闭',
                                    handler: function () { }
                                }]
                            });
                            $("#ff1").form('clear');
                            //URL = "/SelSBType/AddType";
                        }
                    }
                    , '-', {
                        id: 'btnEdit',
                        text: '修改',
                        iconCls: 'icon-edit',
                        handler: function () {
                            var row = $("#List1").datagrid('getSelected');
                            if (row) {
                                $("#EType").val(row.EType);
                                $("#btnOK").css('display', 'none');
                                $("#btnCel").css('display', 'none');
                                $('#dlg1').dialog('open').dialog({
                                    title: 'My Dialog',
                                    width: 400,
                                    height: 200,
                                    closed: false,
                                    cache: false,
                                    modal: true,
                                    buttons: [{
                                        text: '保存',
                                        handler: function () {
                                            $.ajax({
                                                url: "/Equipment/UpdateType",
                                                data: {
                                                    'id': row.ETypeID,
                                                    'TypeName': $("#EType").val()
                                                },
                                                success: function (data) {
                                                    if (data == "Y") {
                                                        alert("更新成功");
                                                        $("#dlg1").dialog('close');
                                                        $("#List1").datagrid('reload');
                                                    }
                                                }
                                            });
                                        }
                                    }, {
                                        text: '关闭',
                                        handler: function () {
                                            $("#ff1").form('clear');
                                        }
                                    }]
                                });
                            } else {
                                $.messager.defaults = { ok: "确定", cancel: "取消" };
                                $.messager.alert('提示', '请选择编辑的数据行')
                            }
                        }
                    }, '-', {
                        id: 'btnDelete',
                        text: '删除',
                        iconCls: 'icon-remove',
                        handler: function () {
                            //获取DataGrid的选中行
                            var rows = $("#List1").datagrid("getSelected");
                            if (rows.length != 0) {
                                $.messager.confirm('提示', '您确定删除该数据吗？', function (r) {
                                    if (r) {
                                        //Ajax
                                        $.ajax({
                                            url: "/Equipment/DeleteType?id=" + rows.ETypeID,
                                            type: "post",
                                            success: function (result) {
                                                if (result == "success") {
                                                    $("#List1").datagrid('reload');
                                                    $("#List1").datagrid("clearSelections");
                                                }
                                            }
                                        });
                                    }
                                });
                            } else {
                                $.messager.defaults = { ok: "确定", cancel: "取消" };
                                $.messager.alert('提示', '请选择删除的数据行')
                            }
                        }
                    }]
            });
            $("#btnOK").click(function () {

                $("#ff1").form('submit', {
                    url: URL,
                    onSubmit: function () {
                        return $(this).form('validate');
                    },
                    success: function (result) {
                        var result = eval('(' + result + ')');
                        if (result.success) {
                            $("#dlg1").dialog('close');
                            $.messager.defaults = { ok: "确定", cancel: "取消" };
                            $.messager.alert('提示', '修改成功！');
                            $("#List1").datagrid('reload');
                        } else {
                            $.messager.show({
                                title: Error,
                                msg: result.msg
                            });
                        }
                    }
                });
            });

        });

    </script>

</head>
<body>
    <div id="Contain1">
        <div id="MainCon1">
            <h2>管理设备类型</h2>
            <div id="Show1">
                <table id="List1"></table>
            </div>
            <div id="dlg1" class="easyui-dialog" closed="true" resizable="true" modal="true" button="#btn" align="center" style="width: 360px; height: 120px; padding: 10px 20px;">
                <form id="ff1" method="post" novalidate="novalidate">
                    <table id="tblAdd1">
                        <tr>
                            <td>设备类型：</td>
                            <td>
                                <input id="EType" type="text" name="TypeName" class="easyui-validatebox" data-options="required:true" />
                            </td>
                        </tr>
                    </table>
                </form>
                <div id="btn">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="btnOK" iconcls="icon-ok">确定</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" id="btnCel" onclick="javascript:$('#dlg').dialog('close')">关闭</a>
                </div>
            </div>
            <div id="index" style="padding-top: 30px;">@Html.ActionLink("返回首页", "Index")</div>
        </div>
    </div>
</body>
</html>
